body{
    margin:0px;
    padding: 0px;
    background: #FCF0E0;
}
/*HEADER & FOOTER */
header .nav1{
    text-align: center;
    font-family: 'Almendra SC', serif;
    color: white;
    background: #812F33;
    padding: 10px;
    font-size: 30px;
}
header .nav2{
    text-align: center;
    font-family: 'Almendra', serif;
    color: white;
    background: #A5AAA3;
    padding: 10px;
}
header .nav2 a{
    font-size: 20px;
    margin-left: 10px;
    margin-right: 10px;
}
footer{
    background-image: url("https://cdn.wallpapersafari.com/80/35/HXOizb.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
footer .footer-menu{
    padding: 100px;
    font-family: 'Almendra', serif;
    color: white;
    font-size: 20px;
}
/* INDEX */
.section1{
    background-image: url(https://media.dnd.wizards.com/dnd_witchlight_highlight.png);
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
}
.section1 .left img{
    padding: 100px;
}
.section1 .ver-mas{
    color: white;
font-weight: 400;
font-size: 1.6rem;
line-height: inherit;
text-transform: uppercase;
text-decoration: none;
padding: 6px;
border-radius: 6px;
outline: none;
background: rgba(0, 0, 0, 0.1);
    background-size: auto;
display: inline-block;
cursor: pointer;
}

.section2 h1{
    font-family: 'Almendra SC', serif;
    color:#812F33;
}
.section2 p{
    font-family: 'Almendra', serif;
    margin: 50px;
    margin-left: 150px;
    margin-right: 150px;
}