<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>Home</title>
		<link rel="shortcut icon" href="../static/imgs/flask-ico.ico">
        <link rel="stylesheet" href="../static/css/style.css">
	</head>
    <header>
        <nav class="nav1">
            <h1>The Last Kingdom</h1>
        </nav>
        <nav class="nav2">
            <a>Inicio</a>
            <a>Menu 2</a>
            <a>Menu 3</a>
            <a>Menu 4</a>
        </nav>
    </header>
	<body>
		{% block content %}
        {% endblock %}
	</body>
</html>