<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>Home</title>
		<link rel="shortcut icon" href="../static/imgs/flask-ico.ico">
        <link rel="stylesheet" href="../static/css/style.css">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Almendra+SC&display=swap" rel="stylesheet"> 
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Almendra&family=Almendra+SC&display=swap" rel="stylesheet"> 
	</head>
    <header>
        <nav class="nav1">
            <h1>The Last Kingdom</h1>
        </nav>
        <ul class="nav2">
            <li><a>Inicio</a></li>
            <li><a>Menu 2</a></li>
            <li><a>Menu 3</a></li>
            <li><a>Menu 4</a></li>
        </ul>
    </header>
	<body>
		{% block content %}
        {% endblock %}
	</body>
</html>